:root {
  --darkGrey: rgba(40, 44, 52, 1);
  --semiDarkGrey: rgba(54, 60, 71, 1);
  --mediumGrey: rgba(64, 71, 85, 1);
  --mediumLightGrey: rgba(104, 107, 112, 1);
  --lightBlue: #61dafb;
}

h1,
p {
  color: var(--mediumGrey);
}

h1 {
  border-bottom: 1px solid var(--lightBlue);
  margin-bottom: 2rem;
}

.appHeader {
  background: linear-gradient(360deg, var(--darkGrey) 0%, var(--semiDarkGrey) 66%, var(--mediumGrey) 100%);
  color: white;
  border-bottom: 7px solid var(--mediumGrey);
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.appContent {
  max-width: 1366px;
  margin: 2rem 20rem;
}

.appHeaderLink {
  margin: 8rem 0.3rem 0.3rem;
  color: var(--lightBlue);
  font-size: 0.8rem;
}

.appHeaderLink:hover {
  text-decoration: underline;
  color: var(--lightBlue);
}

.appHeaderPhoto {
  background: transparent url('../images/profile-pic.jpg') no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
  border: 2px solid var(--lightBlue);
  border-radius: 50%;
  margin: 0 auto;
}

.appHeaderIdentity {
  margin: 0.25rem 0 0 -0.15rem;
  color: var(--lightBlue);
  font-size: 0.8rem;
}

.appMenu {
  list-style-type: none;
  color: var(--lightBlue);
  font-size: 0.9rem;
  height: 3rem;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.appMenuItem {
  padding: 0 1rem;
  margin-bottom: 0;
}

.appMenuLink {
  border-top: 2px solid var(--mediumLightGrey);
  background: var(--mediumGrey);
  color: var(--lightBlue);
  padding: 0.33rem 1rem;
  display: inline-block;
  width: 5.5rem;
  text-align: center;
  margin-bottom: 0;
}

.appMenuLink:hover {
  border-top: 2px solid var(--lightBlue);
  color: var(--lightBlue);
}

.appMenuLink:visited {
  color: var(--lightBlue);
  text-decoration: none;
}

.authMenu {
  float: right;
  position: relative;
  top: -1.5rem;
  left: 7rem;
  margin-bottom: -1.5rem;
}

.authMenu li {
  display: inline;
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .appHeader {
    display: block;
    padding-top: 0.25rem;
    height: 7.5rem;
  }

  .appContent {
    margin: 0 1rem;
  }

  .appHeaderPhoto {
    margin: 1rem;
  }

  .appMenu {
    display: none;
  }

  .authMenu {
    left: 0;
    top: -4.75rem;
    margin-right: 1rem;
  }

  .authMenu li a {
    font-size: 1.2rem;
  }

  .appHeaderIdentity {
    display: inline-block;
    position: relative;
    font-size: 2rem;
    left: 7rem;
    top: -5rem;
    margin-bottom: -7rem;
  }
}
